.rating {
  --dir: right;
  --fillbg: rgba(100, 100, 100, 0.15);
  --heart: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 21.328l-1.453-1.313q-2.484-2.25-3.609-3.328t-2.508-2.672-1.898-2.883-0.516-2.648q0-2.297 1.57-3.891t3.914-1.594q2.719 0 4.5 2.109 1.781-2.109 4.5-2.109 2.344 0 3.914 1.594t1.57 3.891q0 1.828-1.219 3.797t-2.648 3.422-4.664 4.359z"/></svg>');
  --stars: 6;
  --starsize: 1.8rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: 170px;
  touch-action: manipulation;
  -webkit-appearance: none;
}

[dir="rtl"] .rating {
  --dir: center;
}
.rating::-moz-range-track {
  background: linear-gradient(
    to var(--dir),
    var(--fill) 0 var(--x),
    var(--fillbg) 0 var(--x)
  );
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-webkit-slider-runnable-track {
  background: linear-gradient(
    to var(--dir),
    var(--fill) 0 var(--x),
    var(--fillbg) 0 var(--x)
  );
  block-size: 100%;
  mask: repeat left center/var(--starsize) var(--symbol);
  -webkit-mask: repeat left center/var(--starsize) var(--symbol);
}
.rating::-moz-range-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
}
.rating::-webkit-slider-thumb {
  height: var(--starsize);
  opacity: 0;
  width: var(--starsize);
  -webkit-appearance: none;
}
.rating,
.rating-label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.rating-label {
  margin-block-end: 1rem;
}


.submitBut {
  margin-top: 20px;
  width: 90px;
  height: 40px;
  border: solid;
  border-radius: 5px;
  transition: 0.5s;
  background-color: rgb(87, 97, 97);
}
.submitBut:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 255);
  color: aliceblue;
}

.selecting {
  margin-top: 20px;
  width: 50%;
  height: 40px;
  border: solid;
  border-radius: 5px;
  transition: 0.5s;
  background-color: rgb(87, 97, 97);
  text-align: center;
  margin-bottom: 20px;
}
.selecting:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 255);
  opacity: 0.8;
}

body {
  background-image: url(./image/Main\ bg.jpg);
  background-repeat: inherit;
}
.fadeBoarder {
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  opacity: 0.6;
  padding: 3%;
  transition: 0.2s;
  width: 50%;
  text-align: center;
  margin: 10px;
}
.fadeBoarder:hover {
  opacity: 1;
}

.textbox {
  border: solid;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  text-align: center;
  margin: 10px;
}

.firstDiv {
  display: flex;
  justify-content: space-around;
}
.colorlist {
  display: flex;
  background-color: rgb(65, 65, 65);
  border-radius: 20px;
  width: 20%;
  min-width: 308px;
  height: 190px;
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 18px;
  color: aliceblue;
  margin: 10px 10px;
  opacity: 0.8;
  transition: 0.3s;
}
.colorlist:hover {
  opacity: 1;
}
.peoplelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center s;
}
.thirdDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.secondDiv {
  display: flex;
}
.fourthDiv {
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.heartDiv {
  margin-top: 20px;
}

.dynamicButton {
  margin-top: 10px;
  margin-right: 5px;
  width: 70px;
  height: 40px;
  border: solid;
  border-radius: 5px;
  transition: 0.5s;
  background-color: rgb(87, 97, 97);
}
.dynamicButton:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 255);
  color: aliceblue;
}

.insideFourth {
  display: flex;
}
.uploadDiv {
  display: flex;
  flex-direction: column;
  width: 33%;
}
.dynamicImg{
  max-width: 20%;
}
.buttonDiv {
  display: flex;
  flex-direction: column;
}
.proDynamic{
  display: flex;
  flex-direction: column;
}
.errorDiv {
  margin-left: 20px;
}
.uploadBut {
  margin-left: 10%;
  max-width: 100%;
}